/****************************************
    Common Styles 
****************************************/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    color: #2d3c49;
    font-family: Open Sans, sans-serif; 
}

body {
    padding: 30px;
    max-width: 1400px;
    margin: auto;
}


/****************************************
    Header Styles
****************************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #7d97ad;
    padding-bottom: 30px;
}

.header__headings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    text-transform: uppercase;
}

.header__title {
    font-weight: 300;
    font-size: 50px;
    text-align: center;

    margin-bottom: 10px;
}

.header__subtitle {
    font-size: 25px;
}


/****************************************
    Main Section
****************************************/

.content {
    
}

/* Main Image */

.content__main-photo {
    padding: 30px 0;
}

.main__image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

/* Projects */

.content__projects {
    padding: 30px 0;
}

.content__subtitle {
    color: #7d97ad;
    margin-bottom: 30px;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;

    box-shadow: 4px 4px 10px 0px #cecece;
}

.project__image {
    width: 230px;
    height: 230px;
    object-fit: cover;
    object-position: 50% 50%;
}

.project__description {
    padding: 10px 0;
    background-color: #f1f1f1;
    width: 100%;
    text-align: center;
}

/****************************************
    Footer
****************************************/

.footer {

}


/****************************************
    Media Queries 
****************************************/

/* Phones */

@media screen and (max-width: 425px) {
    body {
        padding: 20px 10px;
    }


    .header__logo {
        margin-bottom: 10px;
    }

    .header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .header__headings {
        align-items: center;
    }

    .header__title {
        font-size: 25px;
    }

    .header__subtitle {
        font-size: 15px;
    }


    .content {
        padding: 20px 0;
    }
}

/* Tablets */

@media screen and (max-width: 768px) {

    .header__title {
        font-size: 35px;
    }

    .header__subtitle {
        font-size: 20px;
    }
}
